@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";


*{
  font-family: 'Plus Jakarta Sans', sans-serif;
  box-sizing: border-box;

}

.hiddenEl {
    opacity: 0;
    transition: all 1s;
    filter: blur(1px);

}

.show{
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
}